/* Mixin */
@mixin prefixes($property,$value,$prefixers:()){
  @each $prefix in $prefixers{
    #{"-" + $prefix + "-" + $property}: $value
  }
  #{$property}:$value
}

@import "framework.css";
@import "media.css";

$flaotLeft:left;
$floatRight:right;
*{
  @include prefixes(box-sizing,border-box,webkit ms moz)
}

body{
  margin: 0;
  padding: 0;

}
/* Start Header */

.header{
  z-index: 12;
  width: 100%;
position: fixed;
height: auto;
padding-bottom: 12px;
background: #fff;
    top: 0;
// box-shadow: 1px 1px 4px 4px #ccc;
.logo{
  cursor: pointer;
  float: $flaotLeft;
  h2{
  font:{
    family: monospace;
    size:29px
  }

  }
}
.menu-navbar{
  padding-right: 27px;
  border-radius: 10px;
  border: 1px solid #7AA6A6;
  background: #63b2b2;
  text-align: center;
  margin-top: 20px;
  float: $floatRight;
  ul{
    li{

      display: inline-block;
      position: relative;

      a{
        text-decoration: none;
        color: #ffffffe3;
        font-family: monospace;
        font-size: 18px;
        padding: 10px;
      }
      &.active{
        position: relative;
        a{
      font-weight: bold;
      font-style: italic;
      color: #fff;
      svg{
        position: absolute;
        /* top: 11px; */
        left: 27px;
        color: #3d6363;
        bottom: -9px;
      }
        }
      }

      &:last-of-type{
        position: relative;
        a{
          svg{
          position: absolute;
          top: 11px;
          left: 27px;
          }
        }
      }
    }
  }
}

}
/* Carsoul */

.container{

  .slider{
        margin-top: 115px;
        position: relative;
        width: 100%;
        height: 600px;
        overflow: hidden;
        .overlay{
          z-index: 9;
          background: #000;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: .6;
        }
    .carsoul{
      height: 100%;
      position: relative;

      .sliders{
        height: 100%;
        .item{
          width: 100%;
          opacity:0;
          height: 100%;
          position: absolute;
          top: 0;
          transition: opacity .3s ease-in-out;
          &.active{
            opacity: 1;
          }
          .caption{
                    z-index: 9;
                    position: absolute;
                    top: -14%;
                    margin: auto;
                    text-align: center;
                    padding-left: 47px;
                    opacity: 0;
                    transition: opacity .5s ease-in-out;
                    transition: top .5s ease-in-out;
                  h2{
                    color: #fff;
                    font-family: monospace;
                    font-size: 5em;
                    letter-spacing: 4px;
                  }
                  button{
                    outline: 0;
                  letter-spacing: 4px;
                  font-size: 14px;
                  background: #63b2b2;
                  border: 1px solid #63b2b2;
                  padding: 9px 19px;
                  border-radius: 4px;
                  margin: 4px;
                  font-weight: 700;
                  font-family: monospace;
                  cursor: pointer;
                  transition: all .5s ease-in-out;
                  &:hover{
                    background: transparent;
                    color: #ACEEF3;
                  }
                  }
                  &.active{
                    position: absolute;
                    top: 24%;
                    opacity: 1;
                  }
                }
          img{
            width: 100%;
            height: 100%;

          }
        }
      }
    }
    .btn{

      position: absolute;
          top: 50%;
          width: 100%;
          z-index: 10;
      button{
        outline: 0;
        border: 1px solid transparent;
            background: transparent;
            font-size: 32px;
            font-weight: bold;
            cursor: pointer;
            color: #fff;
            svg{
            font-size: 36px;
            color: #52c6ce;
            z-index: 9;
            }

      }
      .next{
        position: absolute;
        right: 0;
        float: right;
      }
      .prev{
      padding: 0px 10px;
      position: relative;
      top: 18px;
      }
    }
  }

}
/* About */

.about{
  position: relative;

  .left{
    width: 50%;
    float: left;
    max-height: 682px;

    .img{
      position: relative;
      margin-top: 92px;
      img{
          width: 100%;
          height: 100%;
      }
      .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
        transition: all .3s ease-in-out;
      }
      &:hover{
        .overlay{
                  background-color: rgba(0,0,0,.2);
        }
      }
    }
  }
  .right{
    width: 48%;
    float: right;
    margin-left: 2%;
    margin-top: 29px;
    .h1{
      color: #333;
      font-family: monospace;
      font-size: 35px;
      letter-spacing: 6px;
    }
    p{
      color: #4d4c4c;
      font-family: sans-serif;
      font-size: 18px;
      line-height: 1.7;
    }
    a{
      text-decoration: none;
      color: #146d74;
      font-family: monospace;
      letter-spacing: 1.5px;
      font-size: 16px;
    }
  }
  .right-part2{
            display: none;
    @media(min-width: 992px){
      @media(max-width: 1199px){
        display: block !important;
      }
    }
    p{
      color: #4d4c4c;
      font-family: sans-serif;
      font-size: 18px;
      line-height: 1.7;
    }
    a{
      text-decoration: none;
      color: #146d74;
      font-family: monospace;
      letter-spacing: 1.5px;
      font-size: 16px;
    }
  }
}


/* article */

.article{
    border: 1px solid #cccccc54;
    background: #cccccc54;
    width: 100%;
    padding-top: 55px;
    padding-bottom: 55px;
    // clear: both;
    position: relative;
    top: 59px;

    h2{
    font-family: monospace;
    letter-spacing: 1.6px;
    font-size: 27px;

    }
    p{
      font-family: sans-serif;
      letter-spacing: 2.4px;
      font-size: 15px;
      line-height: 1.6;
    }
    button{
      outline: 0;
      background: #63b2b2;
      border: 1px solid #63b2b2;
      padding: 9px 37px;
      font-size: 17px;
      font-family: monospace;
      cursor: pointer;
      transition: box-shadow .5s ease-in-out;
      &:hover{
        box-shadow: 1px 1px 8px #32777799;
      }
    }



}
/*Seriousness of the virus*/


.Seriousness{
  position: relative;
  top: 196px;
  background: #cccccc54;
  height: 528.58px;
  .left{
      // background: #cccccc54;
      width: 50%;
      float: left;
      padding: 29px 44px 70px;
      // padding: 2px 44px 0;

        h2{
      font-family: monospace;
      margin-bottom: 32px;
      color: #333;
        }
        p{
      color: #4d4c4c;
      font-family: sans-serif;
      font-size: 15px;
      letter-spacing: 1.7px;
      line-height: 1.7;
        }
        ul{
          li{
      line-height: 31px;
      font-family: cursive;
      color: #333333e0;

          }
        }
  }
  .right{
    width: 50%;
    float: right;


    iframe{
      width: 100%;
      height: 100%;
    }
  }
}

/* Rate */
.rate{
  position: relative;
  top: 115px;
      padding-bottom: 48px;
      h2.title{
        position: relative;

        font-family: monospace;
        font-size: 30px;
        &:before{
          top: 50%;
          content: "";
          width: 39%;
          height: 1.3px;
          background: #333;
          position: absolute;
          left: -12px;
        }
        &:after{
          top: 50%;
          content: "";
          width: 39%;
          height: 1.3px;
          background: #333;
          position: absolute;
          right: -12px;
        }
      }
  .parts{
    width: (100% / 3);
    float: left;

    &:not(:last-of-type){
        padding-right: 11px;
    }
    svg{
      float: left;
      margin-right: 20px;
      margin-top: 20px;
      color: #333;
      font-size: 37px;
    }
    h2{
      font-family: monospace;
      font-size: 24px;
    }
    span{
      float: left;
      color: #686868;
      font-family: sans-serif;
      font-weight: 700;
      margin-top: 23px;
      font-size: 28px;
    }
    p{
      margin-top: 7px;
      color: #4d4c4c;
      letter-spacing: 2px;
      font-family: sans-serif;
      padding-right: 17px;

    }
  }
}
/* Advices */

.advices{
      margin-top: 250px;
h2{
  position: relative;

  font-family: monospace;
  font-size: 30px;
  margin-bottom: 66px;

  &:before{
    top: 50%;
    content: "";
    width: 39%;
    height: 1.3px;
    background: #333;
    position: absolute;
    left: -12px;
  }
  &:after{
    top: 50%;
    content: "";
    width: 39%;
    height: 1.3px;
    background: #333;
    position: absolute;
    right: -12px;
  }
}
      .left{
        width: 25%;
        float: left;
        li{
          cursor: pointer;
              margin-bottom: 20px;
              background: #63b2b2;
              border-radius: 3px;
              padding: 5px;
              margin-right: 95px;
              text-align: center;
              &:last-of-type{
                a{
                          font-size: 13px
                }

              }
          a{

            text-decoration: none;
            color: #fff;
            font-family: monospace;
            font-weight: 700;
            font-size: 18px;
            line-height: 2;

          }
          &.active{
                    box-shadow: 1px 1px 8px #ccc;
                transform: scale3d(1.1, 1.1, 1.2);
          }
        }
      }
      .right{
        padding-bottom: 30px;
        position: relative;
        width: 75%;
        float: left;
        background: #cccccc54;
        padding: 6px;
        border-radius: 7px;
        .right_1{
          padding-bottom: 70px;
        }
        div.right_1:last-of-type{
          padding-bottom: 36px;
        }

        div.right_1:nth-of-type(2){
        padding-bottom: 21px;
        }
        div{
                display: none;
                &.active{
                  display: block;

                }
        }

        aside{
          content: " ";
          border-top: 12px solid transparent;
          border-bottom: 12px solid transparent;
          border-left: 12px solid transparent;
          border-right: 12px solid #cccccc54;
          position: absolute;
          left: -24px;
          margin-top: 13px;
        }

        article{

border-top: 12px solid transparent;
border-bottom: 12px solid #cccccc54;
border-left: 12px solid transparent;
border-right: 12px solid transparent;
position: absolute;
left: 71px;
margin-top: -29px;
        }
        li,p{
          font-family: sans-serif;
          color: #333;
          font-size: 17px;
          line-height: 1.8;
          letter-spacing: 2px;
        }
      }
}
/* Gallery */

.gallery{
  padding-top: 53px;
  h2{
    position: relative;

    font-family: monospace;
    font-size: 30px;
    margin-bottom: 66px;

    &:before{
      top: 50%;
      content: "";
      width: 39%;
      height: 1.3px;
      background: #333;
      position: absolute;
      left: -12px;
    }
    &:after{
      top: 50%;
      content: "";
      width: 39%;
      height: 1.3px;
      background: #333;
      position: absolute;
      right: -12px;
    }
  }
  .row{
    width: 100%;
    img{
      width: (31.3333%);
      float: left;
      margin: 1%;
    }
  }
}
/* Opinion */

.customer{
      padding-bottom: 53px;
  h2{
    position: relative;
    font-family: monospace;
    font-size: 30px;
    margin-bottom: 66px;

    &:before{
      top: 50%;
      content: "";
      width: 34%;
      height: 1.3px;
      background: #333;
      position: absolute;
      left: -12px;
    }
    &:after{
      top: 50%;
      content: "";
      width: 34%;
      height: 1.3px;
      background: #333;
      position: absolute;
      right: -12px;
    }
  }
  .opinion_row{
    div.row{
      display: none;
    }
    .row{
&.active{
        display: block !important;
}
      width: 100%;
      img{
      width: 8%;
      height: 83px;
      border-radius: 50%;
      float: left;
      margin-right: 17px;
      }
      .opinion{
      margin: auto;
      float: left;
      margin-top: 32px;
      background: #cccccc54;
      padding: 41px 41px 41px 26px;
      width: 89%;
      text-align: left;
      font-family: cursive;
      color: #333;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        border-right: 10px solid #cccccc54;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
        top: 0;
        left: -20px;
      }
      }

    }


  }
  .btn{

    position: relative;
top: 7px;
    button{
      outline: 0;
      position: absolute;
      background: transparent;
      border: 1px solid transparent;
      color: #333;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      &:first-of-type{
        left: 102px;
      }
      &:last-of-type{
right: 12px;
      }
    }

  }
}
/*-- Footer -*/

.footer{
  background: #333;
      padding-top: 26px;
      padding-bottom: 26px;
.row{
  width: (100% / 4);
float: left;
  h3{
    color: #fff;
    font-family: monospace;
    font-size: 25px;
    letter-spacing: 3px;
    cursor: default;
  }
  ul{
    li{
      cursor: default;
      color: #fff;
      font-family: sans-serif;
      line-height: 2;
      letter-spacing: 2px;
svg {
    color: #63b2b2;
    margin-right: 10px;
    cursor: pointer;
}
    }
  }
}
  .rights{
  width: 100%;
    span{
    text-align: center;
    color: #fff;
    font-family: monospace;
    letter-spacing: 3px;
    font-size: 14px;
    width: 50%;
    float: left;
    }
  }
.social{
      font-size: 28px;
      ul{
        li{
          display: inline-block;
        }
      }
}
}
/*Scrokll*/


.scroll{
  cursor: pointer;
  display: none;
  font-size: 31px;
  position: fixed;
  top: 92vh;
  right: 39px;
  svg{
    color: #0e7178;
  }
}


.chat{
  z-index: 13;
  cursor: pointer;
  font-size: 31px;
  position: fixed;
  top: 92vh;
  left: 39px;
  svg{
    color: #0e7178;
  }
  .message{
    display: none;
        padding: 0 13px;
        cursor: default;
        width: 400px;
        height: 400px;
        background: #43acb4;
        border-radius: 12px;
        border-bottom-left-radius: 0;
        position: absolute;
        top: -387px;
        left: 21px;

svg{
  z-index: 9;
  cursor: pointer;
  position: absolute;
  top: 6px;
  color: #333333e6;
  left: 11px;
}
.message_scroll{
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px 35px 0 13px;
  cursor: default;
  width: 400px;
  height: 400px;
  p.help{
    font-family: monospace;
    font-size: 18px;
    color: #333;
    background: #cccccc54;
    padding: 18px;
    border-radius: 5px;
    position: relative;
    // top: 113px;
    &::before{
      content: " ";
          border-right: 10px solid #cccccc54;
          border-left: 10px solid transparent;
          border-top: 10px solid transparent;
          position: absolute;
          left: -20px;
    }
  }
  p.parg{
    font-family: monospace;
    font-size: 18px;
    color: #333;
    background: #ccccccd9;
    padding: 18px;
    border-radius: 5px;
    position: relative;

    &::after{
      content: " ";
      border-right: 10px solid transparent;
      border-left: 10px solid #ccccccd9;
      border-top: 10px solid transparent;
      position: absolute;
      right: -20px;
    }

  }
  .pargraph:last-of-type{
        margin-bottom: 70px;
  }
}

input.input_type{
  border: 1px solid #ffffffc2;
  padding: 9px 25px 9px 10px;
  width: 358px;
  position: absolute;
  top: 354px;
  font-size: 16px;
  font-family: cursive;
  border-radius: 3px;
  background: #ffffffc2;
}
  }
}



/* LogIn Page */

.log{
  position: relative;
    top: 145px;
      background: #cccccc54;
    .left{

      width: 50%;
      float: left;

      margin-top: 27px;
      padding-bottom: 55px;
      @media(max-width:992px){
        width: 100% !important;
      }
      h3{
        color: #333;
        font-family: monospace;
        font-size: 28px;
        padding-left: 36px;
        @media(max-width:992px){
          padding-left: 0 !important;
        }
      }
      form{
        padding-left: 36px;
        @media(max-width:992px){
          padding-left: 0 !important;
        }
      }
      .email-suggest,.email-suggest1{
        margin-bottom: 20px;
        width: 45%;
      outline: 0;
      border-radius: 4px;
      border: 1px solid #f1f1f1;
      padding: 12px 63px 12px 12px;
      color: #333;
      font-family: monospace;
      font-size: 16px;
      display: block;
      &:first-of-type{
        margin-bottom: 20px;
      }

      }
      p{
        margin-left: 36px;
        font-family: sans-serif;
        font-size: 15px;
        text-align: left;
        color: #333333eb;
      }
      a{
        text-decoration: none;
        color: #333;
        margin-top: 20px;
        text-align: center;
        cursor: pointer;
        padding: 12px 63px 12px 12px;
        background: #63b2b2;
      }
button{


}
      .suggest-box{
        padding: 14px;
        background: #fff;
        width: 300px;
        border: 1px solid #ddd;
        list-style: none;
        border-radius: 5px;
        color: #333;
        font-family: monospace;
        font-size: 18px;
        position: relative;
        cursor: pointer;
      }

      .suggest-box::before{
        content: ' ';
        position: absolute;
        border-style: solid;
        border-width: 11px;
        border-color: transparent transparent #fff;
        top: -22px;
        border-radius: 1px;
      }
      .suggest-box li:not(:last-of-type){
          border-bottom: 1px solid #ddd;
          padding-bottom: 8px;
          padding-top: 5px;

      }
      .suggest-box li:hover{
        background: #ddd;
      }

    }
    .right{
img{
  width: 50%;
  float: left;
}
    }
}


/****about page*/

/*information*/
.infomation{
  background-image: url("https://fox2now.com/wp-content/uploads/sites/14/2020/03/CHIP-Coronavirus-COVID-19.png?w=1280&h=720&crop=1");
  @include prefixes(background-size,cover,webkit ms moz o);
  @include prefixes(background-position,center center,webkit ms moz o);
  width: 100%;
  height: 90vh;
  position: relative;
  @media(max-width: 992px){
    height: 478px !important;
    margin-top: 83px;
  }
}
.infomation:after{
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url(../imgs/wave.png);
  width: 100%;
  height: 186px;
}

/** page **/
.page{
  ul{
    li{
      display: inline-block;
      font-family: sans-serif;
      font-size: 17px;
      &.active{
        cursor: pointer;
        a{
          text-decoration: none;
          color: #333;
          font-weight: bold;

        }
        &::after{
          content: "/";
        }
      }
    }
  }
}

/**about*/
.video{
  width: 70%;
  position: fixed;
  top: 19px;
  bottom: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  left: 215px;
  @media(max-width:768px){
    left: 0 !important;
    width:100% !important;
    top: 0 !important;
  }
  div{
    position: relative;
    top: 53px;
    left: 50%;
    z-index: 9;
    color: #fff;
    cursor: pointer;
    img{
      width: 25px;
      height: 25px;
    }
  }
  iframe{
    height: 91vh;
    width: 100%;

    position: relative;
    // left: 4%;

  }
}
.main
{
  margin-top: 74px;
  margin-bottom: 64px;
  .left{
    width: 40%;
    float: $flaotLeft;
    @media(max-width:992px){
      width: 100% !important;
    }
.img{
  position: relative;
  .covid{
    width: 100%;
    height: 100%;

  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
  }
  .play{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 41%;
    top: 38%;
    z-index: 9;
    cursor: pointer;
  }
}
  }
  .right{
    width: 60%;
    float: $flaotLeft;
    @media(max-width:992px){
      width: 100% !important;
    }
    p{
      line-height: 1.5;
      font-family: sans-serif;
      width: 77%;
      margin-left: 7%;
      @media(max-width:992px){
        width: 100% !important;
        margin-left: 0 !important;
      }
    }
  }
}

/**knowledge**/
.knowledge{
  height: 500px;
  margin-bottom: 72px;
  @media(min-width:992px){
    @media(max-width: 1199px){
      margin-bottom: 185px !important;
    }
  }
  @media(max-width:768px){
    margin-bottom: 164px !important;
  }
  .left{
    margin-top: 0;
    width: 60%;
    float: left;
    padding: 0 15px;
    @media(max-width:992px){
      width:100% !important;
    }
    h2{
      padding: 0 15px;
      font-family: sans-serif;
      font-size: 27px;
    }
    ul{
      li{
        background: #63b2b2;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 1.8;
        color: #fff;
        margin: 5px;
        padding: 10px;
        border-radius: 3px;
        &:last-of-type{
          position: relative;
          li{
            padding: 0;
          }
          svg{
            overflow: visible;
            position: absolute;
            right: 24px;
            top: 12px;
            font-size: 30px;
          }
        }
        cursor: pointer;
        .sub{
          display: none;
          transition: all 3s ease-in-out;
 
        }
      }
    }
p{
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.8;
  margin-top: 81px;
  margin-bottom: -52px;
}
  }
  .right{
    width: 40%;
    float: left;
    position: relative;
    height: 100%;
@media(max-width:992px){
  display: none;
}
    &:after{
      content: "";
    background-image: url("../imgs/stop-coronavirus-corona-virus-symbol-vector-30110593_upscaled_image_x4-removebg-preview.png");
    @include prefixes(background-size,cover,webkit ms moz o);
    @include prefixes(background-position,center,webkit ms moz o);
    width: 100%;
    position: absolute;
    left: 0;
    height: 100%;
    @media(max-width: 992px){
      display: none;
    }
    }
  }
}


/*gallery page*/
.galleryNewPage{
  margin-top: 80px;
  background-color: #ddd;
  width: 100%;
  // height: 300vh;
  position: relative;
  padding-top: 370px;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    background-image: url(../imgs/wavetop.png);
    width: 100%;
    height: 300px;
  }
  .row{
    width: 32.3333%;
    float: $flaotLeft;
    margin-left: 1%;
    &.row1{
      width: 100%;
      @media(min-width:768px){
        @media(max-width: 992px){
          width: 100% !important;
        }
      }
    }
    @media(max-width:767px)
    {
      width: 100% !important;
    }
    @media(min-width:768px){
      @media(max-width: 992px){
        width: 49% !important;
      }
    }
    .imge{
      position: relative;
      margin-bottom: 26px;

    .caption{
      background: #fff;
      padding: 1px 10px;
      position: absolute;
      bottom: 0;
      width: 100%;
      p{
        font-family: sans-serif;
        font-size: 17px;
      }
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  }
}

/*compoents*/

.hidden-xs{
  @media(max-width: 991px){
    display: none;
  }
}
